@charset "UTF-8";
.flag-icon-background, .flag-icon {
  background-size: contain;
  background-position: 500%;
  background-repeat: no-repeat; }

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  line-height: 1em; }
  .flag-icon:before {
    content: " "; }
  .flag-icon.flag-icon-squared {
    width: 1em; }

.flag-icon-gbr {
  background-image: url('./gbr.svg'); }


.flag-icon-vnm {
  background-image: url('./vnm.svg'); }

